/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/***************************
***** debug 
*****************************/

.debug .site_header {
    height: 100px;
}

.debug .site_main {
    height: 1000px;
    background-color: bisque;
}

.debug .site_footer {
    height: 400px;
    background-color: black;
}

/***********************************
********** utility 
**********************************++***/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.menu .list_inline {
    display: inline-block;
}

.list_inline li {
    list-style: none;
}

.list_inline a {
    text-decoration: none;
    color: black;
}

.btn {
    text-decoration: none;
    padding: 0.5rem 1.5rem;
}

.btn_blue {
    background-color: blue;
    color: white;
}

/************************************
************ header 
**************************************/

.site_header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: fixed;
    top: 0;
    z-index: 99999;
    background-color: white;
}

.menu {
    padding: 0 2rem;
}

.logo img {
    vertical-align: middle;
}

.site_header .menu .left, .site_header .menu .right {
    float: left;
    width: 50%;
}

.menu .left .logo, .menu .left li {
    float: left;
    margin-right: 3rem;
}

.menu .right .inizia, .menu .right .list_inline, .menu .right li {
    float: right;
    margin-left: 3rem;
}

/***************************
************** main 
*****************************/

/* hero */

.site_main .hero {
    background-color: cornflowerblue;
    padding-top: 12rem;
}

.site_main .hero_container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.hero .titolo {
    font-size: 4.8rem;
}

.hero .hero_text {
    width: 30%;
    padding: 4rem 0 2rem 0;
}

.hero .call {
    margin: 3rem 0 1.5rem 0;
}

.hero .scroll {
    margin: 3rem 0;
}

.scroll .fas {
    font-size: 2.5rem;
    color: black;
}

.hero .jumbo img {
    width: 65%;
    position: absolute;
    right: 0;
    top: 17rem;
}