/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/***************************
***** debug 
*****************************/

.debug .site_header {
    height: 100px;
}

.debug .site_main {
    height: 5000px;
    background-color: bisque;
}

.debug .site_footer {
    height: 400px;
    background-color: black;
}

.debug .sec_title {
    height: 100px;
    background-color: turquoise;
}

.debug .professional {
    height: 1000px;
    background-color: tomato;
}

.debug .standard {
    height: 1000px;
    background-color: thistle;
}

.debug .advanced {
    height: 1000px;
    background-color: lightcoral;
}

.debug .enterprise {
    height: 200px;
    background-color: lightgreen;
}

/***********************************
********** utility 
**********************************++***/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.menu .list_inline {
    display: inline-block;
}

.list_inline li {
    list-style: none;
}

.list_inline a {
    text-decoration: none;
    color: black;
}

.btn {
    text-decoration: none;
    padding: 0.5rem 1.5rem;
}

.btn_blue {
    background-color: blue;
    color: white;
}

/************************************
************ header 
**************************************/

.site_header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: fixed;
    top: 0;
    z-index: 99999;
    background-color: white;
}

.menu {
    padding: 0 2rem;
}

.logo img {
    vertical-align: middle;
}

.site_header .menu .left, .site_header .menu .right {
    float: left;
    width: 50%;
}

.menu .left .logo, .menu .left li {
    float: left;
    margin-right: 3rem;
}

.menu .right .inizia, .menu .right .list_inline, .menu .right li {
    float: right;
    margin-left: 3rem;
}

/***************************
************** main 
*****************************/

/* hero */

.site_main .hero {
    background-color: cornflowerblue;
    padding-top: 12rem;
}

.site_main .hero_container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.hero .titolo {
    font-size: 4.8rem;
}

.hero .hero_text {
    width: 30%;
    padding: 4rem 0 2rem 0;
}

.hero .call {
    margin: 3rem 0 1.5rem 0;
}

.hero .scroll {
    margin: 3rem 0;
}

.scroll .fas {
    font-size: 2.5rem;
    color: black;
}

.hero .jumbo img {
    width: 65%;
    position: absolute;
    right: 0;
    top: 17rem;
}

/* main container */

.main_container {
    width: 70%;
    margin: 15rem auto;
}

.main_container .sec_title, .main_container .enterprise {
    width: 100%;
    float: left;
    margin-bottom: 2rem;
}

.main_container .professional, .main_container .standard, .main_container .advanced {
    float: left;
    width: 30%;
    border: 1px solid black;
}

.main_container .standard {
    margin: 0 5%;
}

.main_container .enterprise {
    margin-top: 3rem;
    border: 1px solid black;
}

/* titolo sezione */

.sec_title h2 {
    font-size: 2.7rem;
}

.sec_title .radio_box {
    margin-top: 2rem;
}

.radio_box span {
    display: inline-block;
    margin-right: 1rem;
}

/* pacchetto */

.content .utente {
    padding: 0.5rem 0;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 1.2rem;
}

.box .pacchetto {
    padding: 2rem;
}

.pacchetto .nome_pacchetto {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.pacchetto .prezzo {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.pacchetto .dettagli_prezzo {
    display: block;
    margin-bottom: 2rem;
}

.pacchetto li {
    list-style: none;
    margin-bottom: 1.5rem;
}

.pacchetto .prova {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.pacchetto .prova .btn {
    padding: 0.5rem 2.9rem;
}

.pacchetto a {
    text-decoration: none;
}

.pacchetto .oppure {
    margin-bottom: 2rem;
}

.pacchetto .hr_box {
    width: 3rem;
    margin-bottom: 2rem;
}

.pacchetto .punti_salienti {
    margin-bottom: 2rem;
}

.pacchetto .fa-check {
    color: blue;
}