/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-width: 1440px;
}

/* common */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

div[class^="col_"] {
    float: left;
}

.navbar .left {
    width: 35%;
    float: left;
}

.navbar .right {
    width: 65%;
    float: left;
}

.cont_60 {
    width: 60%;
    margin: auto;
}

.col_50 {
    width: 50%;
}

.col_20 {
    width: 20%;
}

/* header */

.site_header {
    width: 100%;
    min-width: 1440px;
    height: 100px;
    line-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

.navbar {
    width: 95%;
    margin: auto;
}

.navbar .logo img {
    width: 30%;
    vertical-align: middle;
}

.nav_right {
    text-align: right;
}

.nav_right li {
    display: inline-block;
    list-style: none;
    margin-left: 3.5rem;
}

.nav_right a {
    text-decoration: none;
    color: black;
}

.nav_right .info_nav {
    font-size: 1.4rem;
}

.nav_right .prova {
    font-size: 1.2rem;
    border: 1px solid black;
    padding: 0.5rem 1rem;
}

.nav_right .fas {
    font-size: 0.9rem;
}

/***************************
 main 
 ****************************/

/* HERO */

.site_main {
    width: 100%;
}

.hero {
    margin-top: 6rem;
    margin-bottom: 8rem;
}

.hero img {
    width: 100%;
}

/* titolo */

.titolo {
    margin-bottom: 8rem;
}

.titolo .site_title {
    font-size: 4rem;
}

.titolo .mission {
    text-align: right;
    font-size: 1.5rem;
    padding-left: 5rem;
    padding-top: 1rem;
}

/* loghi */

.loghi {
    margin-bottom: 8rem;
}

.loghi .bgw {
    background-color: white;
    position: relative;
    height: 250px;
}

.loghi .logoimg {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* carosello */

.bggray {
    width: 100%;
    background-color: #fafafa;
}

.bggray .carosello {
    width: 100%;
    border-bottom: 1px solid gray;
    padding-top: 8rem;
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;
}

.brand li {
    list-style: none;
    display: inline-block;
    font-size: 1.4rem;
}

.brand a {
    text-decoration: none;
    color: #637381;
    transition: all;
    padding: 1.4rem 0;
    margin-right: 2rem;
    border-bottom: none;
}

.brand a:hover {
    color: black;
}

.brand a:focus {
    color: black;
    border-bottom: 3px solid black;
}

/* anteprima */

.anteprima {
    padding-bottom: 8rem;
}

.anteprima .video img {
    width: 100%;
    height: 400px;
    filter: brightness(0.4);
    transition: all;
}

.anteprima .video:hover img {
    filter: brightness(1);
}

.anteprima .video {
    position: relative;
}

.video .circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 4px solid white;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle .fas {
    color: white;
    font-size: 2rem;
}

.videotext {
    height: 400px;
    padding-left: 6rem;
    padding-top: 1.5rem;
}

.videotext .video_title {
    font-size: 1.5rem;
    padding-right: 2rem;
}

.videotext .video_text {
    font-size: 1.4rem;
    padding-right: 2rem;
}

.videotext .video_arrow {
    text-align: right;
    font-size: 2.5rem;
}